.game-container {
  min-height: 100vh;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color: white;
  overflow: auto;
}

.game-heading {
  text-align: center;
  margin-top: 3rem;
  font-weight: 800;
  font-size: 3rem;
}

.game-subheading {
  margin: 1rem auto;
  max-width: 800px;
  text-align: center;
  font-style: italic;
}

.pile-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8rem;
  max-width: 70vw;
  margin: 5rem auto 0 auto;
  align-items: end;

  transition: all 0.5s ease-in;
}

.pile {
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease-in;

  &:hover {
    cursor: pointer;
    transform: translateY(-0.5rem);
  }

  img {
    margin-top: -10px; // overlap coins
    transition: transform 0.5s ease, opacity 0.5s ease;
  }
}

.coin-num {
  text-align: center;
  font-weight: 500;
  margin-top: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
}

.remove-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  gap: 0.5rem;
  margin-top: 1rem;

  // Styling for fade in/out
  opacity: 0;
  transform: translateY(-1rem);
  transition: all 0.5s ease-in;

  svg {
    transition: all 0.3s ease-in;

    &:hover {
      cursor: pointer;
      transform: translateY(-0.3rem);
    }
  }
}

.remove-input {
  border-radius: 10px;
  border: none;
  padding: 0.5rem 0.8rem;
  text-align: center;

  &:focus {
    outline: none;
  }
}

.remove-box-show {
  opacity: 1;
  transform: translateY(0);
}

.move-text {
  margin-top: 3rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  font-style: italic;
  font-family: 'Open Sans', sans-serif;
}

.restart-btn {
  display: block;
  margin: 2rem auto;
  background-color: white;
  border: none;
  padding: 1rem;
  border-radius: 10px;
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  transition: all 0.3s ease-in;

  &:hover {
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform: translateY(-0.3rem);
  }

  &:focus {
    outline: none;
  }
}

// Modal button styling

.modal-btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  display: block;
  margin: 2rem auto;
  transition: all 0.3s ease-in;
  font-size: 1.2rem;

  &:hover {
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform: translateY(-0.3rem);
  }
}

// Robot move text styling
.robot-text {
  font-style: italic;
  opacity: 0;
  text-align: center;
  transition: all 0.5s ease-in;
}

.robot-text-show {
  opacity: 1;
}

// Background SVG styling

.bg-svg {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
